<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lacote.ch/media/image/94/big_16_9/studio_ghibli_film_collage20200118-6370-54j1yh.jpg);">
  <div class="container">
    <h1>Mes listes de films préférés!</h1>
  </div>
</div>
    <%= yield %>
  </body>
</html>
